<div class="h-screen w-full bg-lime-200">
  <div class="float-start grid pt-[22rem] p-5 w-[10rem]">
    <button
      class="border-2 p-2 bg-white border-amber-100 hover:bg-amber-200 m-1"
      (click)="navigate('one')"
    >
      One
    </button>
    <button
      class="border-2 p-2 bg-white border-amber-100 hover:bg-amber-200 m-1"
      (click)="navigate('two')"
    >
      Two
    </button>
    <button
      class="border-2 p-2 bg-white border-amber-100 hover:bg-amber-200 m-1"
      (click)="navigate('three')"
    >
      Three
    </button>
  </div>

  <div class="h-screen flex items-center justify-center">
    <router-outlet></router-outlet>
  </div>
</div>
